

# <IfModule mod_rewrite.c>
# RewriteEngine On
# RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
# RewriteBase /
# RewriteRule ^index\.php$ - [L]
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule . /index.php [L]
# </IfModule>
DirectoryIndex index
RewriteEngine On
RewriteRule ^admin/?$ /admin/login.php [L,NC]
# Redirect 301 "/admin" "https://mirotterdam.websitejan.nl/admin/login.php"
# Redirect /admin https://mirotterdam.websitejan.nl/admin/login.php 
